{:deps  {org.clojure/clojure         {:mvn/version "1.10.0"}
         com.cognitect.aws/api       {:mvn/version "0.8.408"}
         com.cognitect.aws/endpoints {:mvn/version "1.1.11.682"}
         com.cognitect.aws/kms       {:mvn/version "746.2.533.0"}
         commons-codec/commons-codec {:mvn/version "1.12"}
         nuid/transit                {:git/url "https://github.com/nuid/transit.git",
                                      :sha     "cddfa206358c2133f1ebc7090435f73c83130ac3"}}
 :paths ["src"]}
